
/*
Autor / Author: Jose Castillo Areiza 5 de septiembre de 2011 / September, 3 2010
Diseñador Grafico UJTL / Graphic Designer
sitio personal / personal website  http://www.webdinami.ca
josecastilloareiza@gmail.com
josecastilloareiza@hotmail.com

Ultima actualizacion 29 de noviembre de 2012

 -Previo a esta hoja de estilos se inserto normalize.
*/



/*
Estilos iniciales / Initial rules
*/

h1, h2, h3, h4, h5, h6, p {
margin:0 0 15px 0;
}

.clr:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}

.clr {
display:block;
overflow:hidden;
height:0;
width:100%;
clear:both;
}

* html .clr {
height:0;
}

strong {
font-weight: 700;
}

a {
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

.seo {
display: none;
}

/* ---------------------------------- */
/* STRUCTURE AND BASICS  */
/* ---------------------------------- */

body {
text-align:center;
}

.wrapper {
text-align:left;
}

.block {
display:block;
}

.left {
float:left;
display:inline;
}

.right {
float:right;
display:inline;
}

.tir {
display: block;
text-indent: -9000em;
}

.rel {
position:relative;
}

.abs {
position:absolute;
}

body {
background-color:#f2f2f2;
}

.nav-h, .nav-v {
margin:0;
padding:0;
list-style:none;
}

.nav-h li {
display:inline;
float:left;
}

/* ---------------------------------- */
/* CUSTOM STYLES */
/* ---------------------------------- */

/* ---------------------------------- */
/* A */
/* ---------------------------------- */
 

/* ---------------------------------- */
/* B */
/* ---------------------------------- */

.board 
{
	 
	height:320px;

}

.board div
{
	display:inline-block;
	height:80px;
	width:238px;
}
.board div a
{
	border:1px solid #900;
	display:block;
	font-size:40px;
	padding:20px 0;
	text-align:center; 
}

.board div a.selected
{
	background-color:#ccc;
	border:1px solid #900;
	color:#ccc;
}

/* ---------------------------------- */
/* C */
/* ---------------------------------- */

.content-1 {
margin:0 auto;
width:960px;
}

/* ---------------------------------- */
/* D */
/* ---------------------------------- */



/* ---------------------------------- */
/* E */
/* ---------------------------------- */

/* ---------------------------------- */
/* F */
/* ---------------------------------- */

 
/* ---------------------------------- */
/* G */
/* ---------------------------------- */

/* ---------------------------------- */
/* H */
/* ---------------------------------- */

 
/* ---------------------------------- */
/* I */
/* ---------------------------------- */

/* ---------------------------------- */
/* J */
/* ---------------------------------- */

/* ---------------------------------- */
/* K */
/* ---------------------------------- */

/* ---------------------------------- */
/* L */
/* ---------------------------------- */

 


/* ---------------------------------- */
/* M */
/* ---------------------------------- */

/* ---------------------------------- */
/* N */
/* ---------------------------------- */

/* ---------------------------------- */
/* O */
/* ---------------------------------- */

/* ---------------------------------- */
/* P */
/* ---------------------------------- */

/* ---------------------------------- */
/* Q */
/* ---------------------------------- */

/* ---------------------------------- */
/* R */
/* ---------------------------------- */

/* ---------------------------------- */
/* S */
/* ---------------------------------- */

/* ---------------------------------- */
/* T */
/* ---------------------------------- */
 
	
/* ---------------------------------- */
/* U */
/* ---------------------------------- */

/* ---------------------------------- */
/* V */
/* ---------------------------------- */

/* ---------------------------------- */
/* W */
/* ---------------------------------- */

/* ---------------------------------- */
/* X */
/* ---------------------------------- */

/* ---------------------------------- */
/* Y */
/* ---------------------------------- */

/* ---------------------------------- */
/* Z */
/* ---------------------------------- */
