
/*
Autor / Author: Jose Castillo Areiza 5 de septiembre de 2011 / September, 3 2010
Diseñador Grafico UJTL / Graphic Designer
sitio personal / personal website  http://www.webdinami.ca
josecastilloareiza@gmail.com
josecastilloareiza@hotmail.com

Ultima actualizacion 29 de noviembre de 2012

 -Previo a esta hoja de estilos se inserto normalize.
*/



/*
Estilos iniciales / Initial rules
*/

h1, h2, h3, h4, h5, h6, p {
margin:0 0 15px 0;
}

.clr:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}

.clr {
display:block;
overflow:hidden;
height:0;
width:100%;
clear:both;
}

* html .clr {
height:0;
}

strong {
font-weight: 700;
}
:outline
{
	border:none;
}
a {
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

.seo {
display: none;
}

/* ---------------------------------- */
/* STRUCTURE AND BASICS  */
/* ---------------------------------- */

body {
text-align:center;
}

.wrapper {
text-align:left;
}

.block {
display:block;
}

.left {
float:left;
display:inline;
}

.right {
float:right;
display:inline;
}

.tir {
display: block;
text-indent: -9000em;
}

.rel {
position:relative;
}

.abs {
position:absolute;
}

body {
background-color:#f2f2f2;
}

.nav-h, .nav-v {
margin:0;
padding:0;
list-style:none;
}

.nav-h li {
display:inline;
float:left;
}

/* ---------------------------------- */
/* CUSTOM STYLES */
/* ---------------------------------- */

/* ---------------------------------- */
/* A */
/* ---------------------------------- */
 

/* ---------------------------------- */
/* B */
/* ---------------------------------- */

.board 
{
	 
	height:430px;
	text-align:center;

}

.board div
{
	display:inline-block;
	height:110px;
	width:140px;
	margin:0 20px 30px 0;
}
.board div a
{
	border:2px solid #900;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow:  0px 0px 3px 3px rgba(0, 0, 0, .2);
	box-shadow:  0px 0px 3px 3px rgba(0, 0, 0, .2);
	display:block;
	padding: 0;
	text-align:center;
	
}
.board div a img
{
	width:100%;
	
}
.board div a.selected
{
	background-color:#f2f2f2;
	border:2px dashed #ccc;
	color:#ccc;
}
.board div a.flip
{
	background-color:#ccc;
	border:2px solid #f00;
	color:#ccc;
}
/* ---------------------------------- */
/* C */
/* ---------------------------------- */

.content-1 {
margin:0 auto;
width:960px;
}

/* ---------------------------------- */
/* D */
/* ---------------------------------- */



/* ---------------------------------- */
/* E */
/* ---------------------------------- */

/* ---------------------------------- */
/* F */
/* ---------------------------------- */

 
/* ---------------------------------- */
/* G */
/* ---------------------------------- */

/* ---------------------------------- */
/* H */
/* ---------------------------------- */

 
/* ---------------------------------- */
/* I */
/* ---------------------------------- */

/* ---------------------------------- */
/* J */
/* ---------------------------------- */

/* ---------------------------------- */
/* K */
/* ---------------------------------- */

/* ---------------------------------- */
/* L */
/* ---------------------------------- */

 


/* ---------------------------------- */
/* M */
/* ---------------------------------- */

/* ---------------------------------- */
/* N */
/* ---------------------------------- */

/* ---------------------------------- */
/* O */
/* ---------------------------------- */

/* ---------------------------------- */
/* P */
/* ---------------------------------- */

/* ---------------------------------- */
/* Q */
/* ---------------------------------- */

/* ---------------------------------- */
/* R */
/* ---------------------------------- */

/* ---------------------------------- */
/* S */
/* ---------------------------------- */

/* ---------------------------------- */
/* T */
/* ---------------------------------- */
 
	
/* ---------------------------------- */
/* U */
/* ---------------------------------- */

/* ---------------------------------- */
/* V */
/* ---------------------------------- */

/* ---------------------------------- */
/* W */
/* ---------------------------------- */

/* ---------------------------------- */
/* X */
/* ---------------------------------- */

/* ---------------------------------- */
/* Y */
/* ---------------------------------- */

/* ---------------------------------- */
/* Z */
/* ---------------------------------- */
